.card{
	height:400px;
	width:300px;
	border-radius:10px;
	overflow:hidden;
	display:grid;
	grid-gap:10px;
	grid-template-rows: auto auto auto;
	background-color:#FFFFFF;
	box-shadow:  box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.1);
	margin:10px;
	transition: 0.2s;
}

.card-image{
	grid-row-start:1;
	grid-row-end:4;
	background:url("assets/cardimage.png");
	background-repeat:no-repeat;
}

.card-info{
	grid-row-start:4;
	grid-row-end:5;
	padding:15px;
	padding-top: 0px;
	font-family: "Montserrat",sans-serif;
}

.cards-wrapper{
	display: flex;
	flex-wrap: nowrap;
	width:50%;
	height:100%;
	flex-direction:row;
	text-align: middle;
	align-content: middle;
	align-self: center;
	overflow: hidden;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
  cursor:pointer;
}